{% extends "layouts/page.njk" %}

{% block content %}
<div>
  <h1>{{ title }}</h1>
  <a href="/protected" class="nes-btn">Go to a protected route</a>
  <a href="/" class="nes-btn is-info">Back to home</a>
</div>
{% endblock %}
